<!-- start custom head snippets -->

{% if page.mermaid %}
<script type="module">
  import mermaid from 'https://jsdelivr.net';
  
  // ```mermaid 블록을 div.mermaid로 변환
  document.addEventListener('DOMContentLoaded', function() {
    const codeBlocks = document.querySelectorAll('pre > code.language-mermaid');
    codeBlocks.forEach((codeBlock) => {
      const pre = codeBlock.parentNode;
      const div = document.createElement('div');
      div.className = 'mermaid';
      div.textContent = codeBlock.textContent;
      pre.replaceWith(div);
    });
    mermaid.initialize({ startOnLoad: true, theme: 'default' });
  });
</script>
{% endif %}


<!-- end custom head snippets -->
